service_component unassign --name "{{project_name}}_MapService" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
tcap_provider unassign --name "{{tcapprovider_name}}" --app-id "{{ss7_app_id}}" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
tcap_provider remove --name "{{tcapprovider_name}}"
service_component unassign remove --name "{{project_name}}_MapService"
service_component create --name "{{project_name}}_MapService" --app-base /var/opt/OC/hpoc-see/wildfly/server/MapService.ear
service_component assign --name "{{project_name}}_MapService" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
parameter_bank create --name "{{project_name}}_MapService_param"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Srv.Map.CALL_PROVIDER_TECHNO" --value "CS-MAP"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.CALL_PROVIDER_TECHNO" --value "CS-MAP"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.redis.url" --value "{{redis_url}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.redis.poolsize" --value "{{redis_pool_size}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.redis.queue.egress" --value "{{redis_queue}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.metrics.httpport" --value "{{metrics_port}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Components.COMPONENT_LOADER_CS_CLASS" --value "com.hp.opencall.ocsac.loader.in.ComponentsLoaderInImpl"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Net.Cs.INITIAL_SESSION_TIMEOUT_SECONDS" --value "{{ initial_session_timeout | default ("5") }}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Scif.Imsc.USE_COMPONENT_LOADER" --value "false"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Components.COMPONENT_LOADER_COMMON_CLASS" --value "com.hp.opencall.ocsac.loader.common.ComponentsLoaderCommonImpl"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.OAM_TYPES_FACTORY_IMPL" --value "com.hp.opencall.ocsac.common.OamTypesFactoryImpl"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Srv.Map.CALL_PROVIDER_NAME" --value "{{tcapprovider_name}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Net.Cs.PROVIDER_NAME" --value "{{tcapprovider_name}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Net.Cs.Voice.OPENING_MAX_DURATION" --value "{{ opening_max_duration | default ("300000") }}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Net.Cs.LOCAL_SCCP_ADDRESS_SOURCE" --value "{{ use_of_gt_sccp_address | default ("INCOMING") }}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.timer.queue.max.events" --value "50000"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.timer.queue.low.limit.percentage" --value "20"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.timer.queue.medium.limit.percentage" --value "40"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.timer.queue.min.spare.threads" --value "16"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.timer.queue.max.threads" --value "16"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.mcifscif.smscAddress" --value "gt:{{smsc_address}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Scif.Imsc.USE_TCAPITUPROVIDER_FACTORY" --value "false"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Srv.MsgApp.TCAP_HANDOFF" --value "true"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Scif.Imsc.USE_COMPONENT_LOADER" --value "false"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Net.Cs.VSSF_PROVIDER_NAME" --value "{{tcapprovider_name}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.NetworkTools.CLASS" --value "com.hpe.opencall.norm.NetworkToolsImpl"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.IN_CALL_PROVIDER_TECHNO" --value "CS-MAP"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.mcifscif.relayMode" --value "true"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "service.tcapProviderName" --value "{{tcapprovider_name}}"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Srv.MsgApp.CALL_PROVIDER_TECHNO" --value "CS-MAP"
parameter_bank add_parameter --name "{{project_name}}_MapService_param" --parameter "application.NgIn.Srv.MsgApp.CALL_PROVIDER_NAME" --value "{{tcapprovider_name}}"




service_component add_parameters --name "{{project_name}}_MapService" --parameters "{{project_name}}_MapService_param"
tcap_provider create --name "{{tcapprovider_name}}" --service-component "{{project_name}}_MapService" --stack-name "{{ss7_stack}}" --tcap-flavour "ITU93" --sccp-flavour "ITU93" --ssn "{{ss7_ssn}}" --pc "{{ss7_pc}}" --gt-tt "UNKNOWN" --gt-nai "INTERNATIONAL_NUMBER" --gt-npi "E163_E164" --gt-digits "{{ss7_gt}}"
tcap_provider assign --name "{{tcapprovider_name}}" --app-id "{{ss7_app_id}}" --hostname "{{hostname}}" --instance-id "{{instance_id}}"