{
  "name": "{{rtengine_config_name}}",
  "RTENGINE": {
    "queue": {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_queue_master}}",
      "ingress": "{{rtengine_ingress_queue}}",
      "egress": "{{rtengine_egress_default_queue}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "clientName": "queue",
      "description": "this is the db where we are getting messages from"
    },
    "monitor": {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_monitor_master}}",
       "maxIdle": "{{  rtengine_nb_threads + 2 }}",
       "maxTotal": "{{ rtengine_nb_threads + 2 }}",
       "minTotal": "{{ rtengine_nb_threads + 2 }}",
      "clientName": "monitor",
      "description": "this is the db where the management keys of all instances are kept"
    },
    "queue-ingress-max-length": 100,
    "middlewares": [
      {
        "class": "io.qsrlabs.nexus.middleware.generic.ConfigMiddleware",
        "init": "redis://{{rtengine_sentinel_primary}}:{{rtengine_sentinel_port}},{{rtengine_sentinel_secondary}}:{{rtengine_sentinel_port}}/{{rtengine_config_db}}/meta.qp.{{rtengine_config_name}}?path=event-config&type=json"
      },
      {
        "class": "com.eitg.quasar.nexus.middleware.scxml.ScxmlMiddleware",
        "init": "redis://{{rtengine_sentinel_primary}}:{{rtengine_sentinel_port}},{{rtengine_sentinel_secondary}}:{{rtengine_sentinel_port}}/{{rtengine_config_db}}/meta.qp.{{rtengine_config_name}}?path=scxml&type=json"
      }
    ],
    "remove-outgoing-header": true,
    "nb-worker-threads": "{{rtengine_nb_threads}}",
    "alarm-consumption-frequency": 100,
    "preprocessor": "",
    "alarm-centralized-queue": "{{rtengine_alarm_queue}}",
    "state-provider": "",
    "cleanup-structures-before-json-conversion": false,
    "poll-ingress-timeout": 3
  },
  "scxml": [
    {
      "id": "flows-location",
      "value": "{{rtengine_url_flows_primary}},{{rtengine_url_flows_secondary}}",
      "description": "a list of comma separated urls where we retrive the flows from; they will be tried in order"
    },
    {
      "id": "refresh-dispatch-logic",
      "value": "{{rtengine_refresh_dispatch_logic_ms}}",
      "description": "how often we refresh/recompile the dispatch logic, in milliseconds"
    },
    {
      "id": "flows-cache-time",
      "value": "{{rtengine_flows_cache_time_sec}}",
      "description": "how often we refresh/recompile flows, in seconds"
    },
    {
      "id": "start-events",
      "value": "",
      "description": "the basic event to create a new application session is if we don't find the session in the store; however, we can specify also a comma separated list of event names that will always create new sessions; this is helpful in case of flow design errors and someone forgets to close a session.For example, InitialDp may be specified as an event that always create a new session"
    },
    {
      "id": "event-provider",
      "value": "com.eitg.quasar.nexus.occp.cap.handlers.middleware.ScxmlCAPEventProvider",
      "description": "this is a class (must be in classpath) that can analyze an event recevied and extract the event name (what you put on the arrows in studio)"
    },
    {
      "id": "session-store-provider",
      "value": "com.eitg.quasar.nexus.middleware.scxml.sessions.RedisSessionStore",
      "description": "this is a class that implements the session store (must be in classpath); basically it manages session persistance and session lifecycle (i.e. create, delete, update, etc)"
    },
    {
      "id": "session-id-provider",
      "value": "com.eitg.quasar.nexus.occp.cap.handlers.middleware.ScxmlCAPSessionProvider",
      "description": "this is a class (must be in classpath) that analyzes and incoming event and extracts the session id from it"
    },
    {
      "id": "session-queue-provider",
      "description": "session queue implementation, that buffers messages for same session to be processed one after another sequentially",
      "value": "com.eitg.quasar.nexus.occp.cap.handlers.middleware.CAPSessionQueue"
    },
    {
      "id": "session-store-db",
      "description": "configuration of session db pool",
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "type": "pool-sentinel",
      "mastername": "{{rtengine_sessions_store_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "sessions"
    },
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_sess_queues_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "sessq",
      "description": "database where queues per individual sessions are maintained, if necessary",
      "id": "sessions-queues-db",
      "type": "pool-sentinel"
    },
    {
      "id": "session-max-lifetime",
      "value": "{{ session_max_lifetime | default (3600)}}",
      "description": "maximum session validity, in seconds; after this timeout the session is expired and deleted"
    },
    {
      "id": "session-prefix",
      "value": "session",
      "description": "a common prefix for redis keys holding sessions, so that it is easier to manage the database"
    },
    {
      "id": "session-lock-max-duration",
      "value": "1000",
      "description": "maximum lock for a session in milliseconds; useful to prevent flow design error and create deadlocks"
    }
  ],
  "event-config": [
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_app_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "app",
      "description": "database where users and flows are stored and main configuration for components and dispatch script",
      "id": "app-db",
      "type": "pool-sentinel"
    },
	{
      "description": "sessiondb used for handler save/get context",
      "maxIdle": "13",
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "minTotal": "13",
      "type": "pool-sentinel",
      "maxTotal": "13",
      "id": "context-sessions-db",
      "mastername": "{{rtengine_sessions_store_master}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "sessions_own"
    },
    {
      "description": "sessiondb used by other service for handler get context local",
      "maxIdle": "13",
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "minTotal": "13",
      "type": "pool-sentinel",
      "maxTotal": "13",
      "id": "context-sessions-db-other",
      "mastername": "{{rtengine_sessions_store_master_other}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "sessions_other"
    },
	{
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary_remote}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_primary_remote}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_remote_context}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "contextdb_remote",
      "description": "database for remote site redis to save the context - save context handler",
      "id": "save-context-db-rem",
      "type": "pool-sentinel"
    },
	{
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_remote_context}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "contextdb_local",
      "description": "database for remote site redis to save the context - save context handler",
      "id": "read-context-db-local",
      "type": "pool-sentinel"
    },
	{
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary_remote}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_primary_remote}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_queue_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "gueuedb_remote",
      "description": "queuedb database for remote site redis",
      "id": "queue-db-rem",
      "type": "pool-sentinel"
    },
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_spread_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "spread",
      "description": "database where counters are stored for spread calculation",
      "id": "spread-db",
      "type": "pool-sentinel"
    },
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_profiles_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "profiles",
      "description": "database where profiles per user or per flow are stored",
      "id": "profiles-db",
      "type": "pool-sentinel"
    },
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_lists_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "lists",
      "description": "database where fixed and variable lists are stored",
      "id": "lists-db",
      "type": "pool-sentinel"
    },
    {
      "sentinels": [
        {
          "host": "{{rtengine_sentinel_primary}}",
          "port": {{rtengine_sentinel_port}}
        },
        {
          "host": "{{rtengine_sentinel_secondary}}",
          "port": {{rtengine_sentinel_port}}
        }
      ],
      "mastername": "{{rtengine_cdr_master}}",
      "maxIdle": "{{rtengine_nb_threads + 5}}",
      "maxTotal": "{{rtengine_nb_threads + 5}}",
      "minTotal": "{{rtengine_nb_threads + 5}}",
      "readTimeout": {{rtengine_redis_read_timeout}},
      "clientName": "cdr",
      "description": "database where cdr queue is",
      "id": "cdr-db",
      "type": "pool-sentinel"
    },
    {
        "sentinels": [
            {
              "host": "{{rtengine_sentinel_primary}}",
              "port": {{rtengine_sentinel_port}}
            },
            {
              "host": "{{rtengine_sentinel_secondary}}",
              "port": {{rtengine_sentinel_port}}
            }
        ],
        "mastername": "{{rtengine_text_analysis_queue_master}}",
        "maxIdle": "{{rtengine_nb_threads + 5}}",
        "maxTotal": "{{rtengine_nb_threads + 5}}",
        "minTotal": "{{rtengine_nb_threads + 5}}",
        "readTimeout": {{rtengine_redis_read_timeout}},
        "clientName": "classifier",
        "description": "database where queues for text analysis are maintained; this would be also the ingress queue of text classifier",
        "id": "text-analysis-db",
        "type": "pool-sentinel"
    },
    {
      "id":"cdr-queue",
      "value": "{{rtengine_cdr_queue_name}}",
      "description": "the queue where CDRs (automatic CDRs) are inserted, if they are configured via flow profile"
    },
    {
      "id": "flow-profile-cache-time-ms",
      "value": {{rtengine_refresh_dispatch_logic_ms}},
      "description": "each flow profile is kept in memory for a number of milliseconds and only refreshed once every milliseconds"
    }
  ]
}